{{#contentFor 'pageStyles'}}
    <style>
        .clicker {
            color: blue;
        };
    </style>
{{/contentFor}}


{{#contentFor 'pageScripts'}}
    <script>
        $(function() {
            $('.clicker').click(function() {
                $(this).text('Hello express-hbs!');
            });
        });
    </script>
{{/contentFor}}

{{#contentFor 'title'}}
    Hello, Express and ReactJS
{{/contentFor}}

{{#contentFor 'body'}}
    <h1>Hello, Express and ReactJS</h1>
{{/contentFor}}